@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/meuCss.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>


<body>


    @await Html.PartialAsync("~/Shared/_header.cshtml")



    <div id="body" class="flex-container">

        <div id="infoPlayer">
            <h3>Neon Dandar - Sorcerer - level: 250</h3>
        </div>

        <div id="scrollArea">
            <div class="row">
                <div class="col">
                    <div id="meuCard">
                        <div class="row">
                            <div class="col">

                                <div id="titulo">
                                    <h4>Roshamuul Prision</h4>
                                </div>

                                <table>
                                    <tr>
                                        <th>Recomendações</th>
                                        <th>&nbsp;</th>
                                    </tr>

                                    <tr>
                                        <td>Nível</td>
                                        <td>250</td>
                                    </tr>

                                    <tr>
                                        <td>Vocação</td>
                                        <td>Todas</td>
                                    </tr>

                                </table>

                            </div>

                            <div class="col">&nbsp;</div>

                            <div class="col colImg">
                                <img id="imgMonstro" src="https://www.tibiawiki.com.br/images/2/22/Demon_Outcast.gif">
                            </div>

                        </div>

                        <h5>Indicada por</h5>

                        <div id="listaRec">
                            <a href="">Neon Dandar</a> -
                            <a href="">Pedriin</a> -
                            <a href="">Vex</a>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div id="meuCard">
                        <div class="row">
                            <div class="col">

                                <div id="titulo">
                                    <h4>Roshamuul Prision</h4>
                                </div>

                                <table>
                                    <tr>
                                        <th>Recomendações</th>
                                        <th>&nbsp;</th>
                                    </tr>

                                    <tr>
                                        <td>Nível</td>
                                        <td>250</td>
                                    </tr>

                                    <tr>
                                        <td>Vocação</td>
                                        <td>Todas</td>
                                    </tr>

                                </table>

                            </div>

                            <div class="col">&nbsp;</div>

                            <div class="col colImg">
                                <img id="imgMonstro" src="https://www.tibiawiki.com.br/images/2/22/Demon_Outcast.gif">
                            </div>

                        </div>

                        <h5>Indicada por</h5>

                        <div id="listaRec">
                            <a href="">Neon Dandar</a> -
                            <a href="">Pedriin</a> -
                            <a href="">Vex</a>
                        </div>

                    </div>

                </div>
                <div class="col">
                    <div id="meuCard">
                        <div class="row">
                            <div class="col">

                                <div id="titulo">
                                    <h4>Roshamuul Prision</h4>
                                </div>

                                <table>
                                    <tr>
                                        <th>Recomendações</th>
                                        <th>&nbsp;</th>
                                    </tr>

                                    <tr>
                                        <td>Nível</td>
                                        <td>250</td>
                                    </tr>

                                    <tr>
                                        <td>Vocação</td>
                                        <td>Todas</td>
                                    </tr>

                                </table>

                            </div>

                            <div class="col">&nbsp;</div>

                            <div class="col colImg">
                                <img id="imgMonstro" src="https://www.tibiawiki.com.br/images/2/22/Demon_Outcast.gif">
                            </div>

                        </div>

                        <h5>Indicada por</h5>

                        <div id="listaRec">
                            <a href="">Neon Dandar</a> -
                            <a href="">Pedriin</a> -
                            <a href="">Vex</a>
                        </div>

                    </div>

                </div>



            </div>
            <div class="row">
                <div class="col">
                    <div id="meuCard">
                        <div class="row">
                            <div class="col">

                                <div id="titulo">
                                    <h4>Roshamuul Prision</h4>
                                </div>

                                <table>
                                    <tr>
                                        <th>Recomendações</th>
                                        <th>&nbsp;</th>
                                    </tr>

                                    <tr>
                                        <td>Nível</td>
                                        <td>250</td>
                                    </tr>

                                    <tr>
                                        <td>Vocação</td>
                                        <td>Todas</td>
                                    </tr>

                                </table>

                            </div>

                            <div class="col">&nbsp;</div>

                            <div class="col colImg">
                                <img id="imgMonstro" src="https://www.tibiawiki.com.br/images/2/22/Demon_Outcast.gif">
                            </div>

                        </div>

                        <h5>Indicada por</h5>

                        <div id="listaRec">
                            <a href="">Neon Dandar</a> -
                            <a href="">Pedriin</a> -
                            <a href="">Vex</a>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div id="meuCard">
                        <div class="row">
                            <div class="col">

                                <div id="titulo">
                                    <h4>Roshamuul Prision</h4>
                                </div>

                                <table>
                                    <tr>
                                        <th>Recomendações</th>
                                        <th>&nbsp;</th>
                                    </tr>

                                    <tr>
                                        <td>Nível</td>
                                        <td>250</td>
                                    </tr>

                                    <tr>
                                        <td>Vocação</td>
                                        <td>Todas</td>
                                    </tr>

                                </table>

                            </div>

                            <div class="col">&nbsp;</div>

                            <div class="col colImg">
                                <img id="imgMonstro" src="https://www.tibiawiki.com.br/images/2/22/Demon_Outcast.gif">
                            </div>

                        </div>

                        <h5>Indicada por</h5>

                        <div id="listaRec">
                            <a href="">Neon Dandar</a> -
                            <a href="">Pedriin</a> -
                            <a href="">Vex</a>
                        </div>

                    </div>

                </div>
                <div class="col">
                    <div id="meuCard">
                        <div class="row">
                            <div class="col">

                                <div id="titulo">
                                    <h4>Roshamuul Prision</h4>
                                </div>

                                <table>
                                    <tr>
                                        <th>Recomendações</th>
                                        <th>&nbsp;</th>
                                    </tr>

                                    <tr>
                                        <td>Nível</td>
                                        <td>250</td>
                                    </tr>

                                    <tr>
                                        <td>Vocação</td>
                                        <td>Todas</td>
                                    </tr>

                                </table>

                            </div>

                            <div class="col">&nbsp;</div>

                            <div class="col colImg">
                                <img id="imgMonstro" src="https://www.tibiawiki.com.br/images/2/22/Demon_Outcast.gif">
                            </div>

                        </div>

                        <h5>Indicada por</h5>

                        <div id="listaRec">
                            <a href="">Neon Dandar</a> -
                            <a href="">Pedriin</a> -
                            <a href="">Vex</a>
                        </div>

                    </div>

                </div>



            </div>




        </div>



        @await Html.PartialAsync("~/Shared/_footer.cshtml")
    </div>



    @await Html.PartialAsync("~/Shared/_scripts.cshtml")




</body>


</html>





