


#body {

  
    border: solid;
    border-color: rgb(64,68,66);
    height:100%;
    background-color: rgb(64,68,66);
  
}

#pesquisar {
    /*border: ridge;*/
    /*border-color: rgb(64,68,66);*/
    padding:5%;
    margin: auto;
    max-width: 30%;
    background-color: gold;
    color: black;
    margin-top: 8%;
    min-width: 400px;
    min-height: 200px;
    
}

p {
    text-align: center;
}

html {
    background-color: rgb(64,68,66);
    overflow-x:hidden;
}

body {
  
    background-color: rgb(64,68,66);
}

#footer {
   
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(52,58,64);
    color: black;
    position:relative;
}


#scrollArea {
   
  
    background-color: white;
    width: 100%;
   
    padding-left: 5%;
    padding-top: 3%;
}

table {
    margin: 5%;
}
td {
    padding-left:3%;
}
#meuCard {
    width: 90%;
    overflow: hidden;
    padding: 2%;
    border-radius: 10px;
    margin: 1%;
    margin-bottom:20%;
   
}

#meuCard:nth-child(even) {
    background-color: #f2f2f2;
}

#listaRec {
    padding: 1%;
}

#imgMonstro {
    
    width:100px;

}
.colImg {
padding-top:5%;
}
#infoPlayer {
    color: white;
    padding-top: 2%;
    text-align: center;
    width: 100%;
}
